name: Update Homebrew Tap

on:
  release:
    types: [published]

jobs:
  update-tap:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - id: release
        name: Get release information
        uses: actions/github-script@v6
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}
        with:
          script: |
            const release = await github.rest.repos.getReleaseByTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: process.env.TAG_NAME,
            });
            if (!release || !release.data || !release.data.assets) {
              core.setFailed(`Release or assets not found for tag: ${process.env.TAG_NAME}`);
            }
            return {
              version: release.data.tag_name.replace('v', ''),
              shaosxarm: release.data.assets.find(asset => asset.name.includes('arm64.dmg')).digest.replace('sha256:', ''),
              shaosxintel: release.data.assets.find(asset => asset.name.includes('.dmg') && !asset.name.includes('arm64')).digest.replace('sha256:', ''),
              shalinux: release.data.assets.find(asset => asset.name.includes('.AppImage')).digest.replace('sha256:', ''),
            };

      - name: Checkout homebrew-pubman
        uses: actions/checkout@v4
        with:
          repository: DrawnToDigital/homebrew-pubman
          path: homebrew-pubman
          token: ${{ secrets.HOMEBREW_TAP_TOKEN }}

      - name: Update Cask
        shell: bash
        env:
          VERSION: ${{ steps.release.outputs.result.version }}
          SHAOSXARM: ${{ steps.release.outputs.result.shaosxarm }}
          SHAOSXINTEL: ${{ steps.release.outputs.result.shaosxintel }}
          SHALINUX: ${{ steps.release.outputs.result.shalinux }}
        run: |
          if [[ -z "$VERSION" || -z "$SHAOSXARM" || -z "$SHAOSXINTEL" || -z "$SHALINUX" ]]; then
            echo "Missing required release info. Failing job."
            exit 1
          fi

          cd homebrew-pubman

          # Update version and SHA256
          sed -i "s|version \".*\"|version \"$VERSION\"|" Casks/pubman.rb
          sed -i "s|sha256 arm:   \".*\"|sha256 arm:   \"$SHAOSXARM\"|" Casks/pubman.rb
          sed -i "s|intel: \".*\"|intel: \"$SHAOSXINTEL\"|" Casks/pubman.rb
          sed -i "s|version \".*\"|version \"$VERSION\"|" Formula/pubman-linux.rb
          sed -i "s|sha256 \".*\"|sha256 \"$SHALINUX\"|" Formula/pubman-linux.rb

          # Commit and push changes
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add Casks/pubman.rb Formula/pubman-linux.rb
          git commit -m "Update cask to version $VERSION"
          git push
